* {
  box-sizing: border-box;
  margin: 0;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  max-width: 100%;
}

picture {
  display: block;
  max-width: 100%;
}

video {
  display: block;
  max-width: 100%;
}

canvas {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
}

h1 {
  overflow-wrap: break-word;
}

h2 {
  overflow-wrap: break-word;
}

h3 {
  overflow-wrap: break-word;
}

h4 {
  overflow-wrap: break-word;
}

h5 {
  overflow-wrap: break-word;
}

h6 {
  overflow-wrap: break-word;
}
