@use '@/styles/variables' as *;

.wrapper {
  display: block;
  width: 412px;
  height: 72px;
  border-radius: 10px;
  border: none;
  padding: 6px;
  background: $dark-navy;
  cursor: pointer;
  box-sizing: content-box;
  outline-offset: 6px;
}

.ball {
  display: block;
  height: 100%;
  aspect-ratio: 1 / 1;
  background: hsl(50deg 100% 50%);
  background: oklch(0.92 0.22 101.1);
  border-radius: 1000px;
}

.selectMark {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: $global-border-radius;

  input[type='radio'] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-radius: $global-border-radius;
  }

  input:checked {
    & + label {
      background-color: $silver;

      svg {
        path {
          fill: $dark-navy;
        }
      }
    }
  }

  svg {
    path {
      fill: #a8a8a8;
    }
  }
}
